.itemBgColor{
    background-color: #fff !important;
    padding: 10px !important;
}

body{
font: 14px/1.4 Helvetica,Arial,sans-serif ;
-webkit-font-smoothing: antialiased;
}

.link-spanner{
position:absolute;
width:100%;
height:100%;
top:0;
left: 0;
z-index: 1;
}

.homeImgSizing{
height: auto !important;
width: auto !important;
max-width: 175px;
max-height: 145px;
}

.mainImgSizing{
height: auto !important;
width: auto !important;
max-width: 300px;
max-height: 250px;
}

.thumbnailImgSizing{
height: auto !important;
width: auto !important;
max-width: 80px;
max-height: 66px;
}

.relImgSizing{
height: auto !important;
width: auto !important;
max-width: 150px;
max-height: 125px;
}

.moreBtn:hover{
background-color: #ccc !important;
}

#search{
margin-top: 12px;
}

.thumbnailFocus{
background-color: #eee;
}

img{
  margin-left: auto;
  margin-right: auto;
}

div .image
{
  background: #fff !important;
}

.marginContent
{
  margin-left: 1.0em !important;
}

.marginContentDetails
{
 margin-left: 1.0rem !important;
}

.rightContent{
margin-right: 15px !important;
margin-top: 14px !important;
}

.price{
color: black !important;
font-weight: bold !important;
font-size: 14px;
}

.priceLabel{
background-color: #fff !important;
font-size: .99rem;
padding-left: 0em !important;
}

.itemDesc{
padding-left: 3.9em;
padding-right: 1.4em;
font-size: 1.1em;
line-height: 1.6;
}

.itemSubTitle{
font-size: 77%;
}

.pagination{
text-align: center;
}

.relFont{
font-size: .7em !important;
}

.relFontScore{
font-size: .8em !important;
}

.adDiv{
display: table !important;
margin: 0 auto !important;
}

.sideContent{
font-size: 1.1em !important;
}

.inactiveIcon{
color: #dde2e3 !important;
}

.marginMainContent
{
 margin-right: 1.0rem !important;
}

.leftContent{
margin-left: 15px !important;
margin-top: 14px !important;
}

.staticPageTitle{
margin: 0px !important;
text-align: center;
}

.clicked{
background: rgba(0,0,0,.09);
}

