<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <title></title>
</head>
<body>

<form class="ui form" method="post">

  <div class="field">
    <label>Item Name</label>
    <input type="text" name="itemName" placeholder="itemName" value="{{ item['name'] }}" readonly="readonly">
  </div>

  <div class="field">
    <label>Item Title</label>
      {% if 'title' in item %}
        <input type="text" name="title" placeholder="title" value="{{ item['title'] }}">
      {% else %}
        <input type="text" name="title" placeholder="title">
      {% endif %}
  </div>

  <div class="field">
    <label>Time</label>
        <input type="text" name="time" placeholder="time" value="{{ item['time'] }}">
  </div>

  <div class="field">
    <label>Description</label>
    <textarea name="desc">{{ item['desc'] }}</textarea>
  </div>

  <h2><label>Good Features:</label></h2>

  {% for pfeat in item['pos'] %}
  <div class="three fields">
          <div class="field">
            <label>Feature Name</label>
            <input type="text" value="{{ pfeat['name'] }}" name="featureName" placeholder="Feature Name">
          </div>
          <div class="field">
            <label>Feature Stem</label>
            <input type="text" value="{{ pfeat['stem'] }}" name="featureStem" placeholder="Feature Stem">
          </div>
          <div class="field">
            <label>Feature Score</label>
            <input type="text" value="{{ pfeat['originalScore'] }}" name="featureScore" placeholder="Feature Score">
          </div>
  </div>
  {% endfor %}

  <h2><label>Bad Features:</label></h2>
  {% for nfeat in item['neg'] %}
  <div class="three fields">
          <div class="field">
            <label>Feature Name</label>
            <input type="text" value="{{ nfeat['name'] }}" name="featureName" placeholder="Feature Name">
          </div>
          <div class="field">
            <label>Feature Stem</label>
            <input type="text" value="{{ nfeat['stem'] }}" name="featureStem" placeholder="Feature Stem">
          </div>
          <div class="field">
            <label>Feature Score</label>
            <input type="text" value="{{ nfeat['originalScore'] }}" name="featureScore" placeholder="Feature Score">
          </div>
  </div>
  {% endfor %}

      <div class="inline field">
        <div class="ui toggle checkbox checked" id="isArticleTrigger">
          <input type="checkbox" tabindex="0" class="hidden">
          <input type="text" tabindex="0" name="isArticle" id="isArticle" value="{{ item['isArticle'] }}" style="opacity: 0">
          <label>Is Article</label>
        </div>
      </div>

    <br />

  <button class="ui button" type="submit">Submit</button>

</form>

<script type="text/javascript" src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/semantic.min.js"></script>

<script type="text/javascript">
    $(function(){

     $('.ui.checkbox').checkbox()

     if($('#isArticle').val() == '1'){
        //alert('its an article')
        $('#isArticleTrigger').click()
        }
     else{
      //alert('it aint an article')
     }

     $('#isArticleTrigger').click(function(){
        //alert($('#isArticle').val())
        if($('#isArticle').val() == '1' || $('#isArticle').val() == 1){
            $('#isArticle').val(0)
        }
     else{
      $('#isArticle').val(1)
     }
     })


    })

</script>

</body>
</html>