{% extends "main.html" %}

{% block mainContent %}

    <div class="twelve wide column" id="mainContent">
        <div itemscope itemtype="http://schema.org/Product" class="ui grid raised segment marginContent">
            <div class="row">
                <div class="column">
                    <div class="content">
                        <div class="ui center aligned header">
                            <h1>
                                <span itemprop="name">{{ entity['name'] }}</span>
                                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    <div itemprop="ratingValue" class="ui green label circular score">{{ entity['score'] }}</div>
                                    <div class="ui flowing popup">
                                        <p>CriticJam Score: -5 to 5 Scale</p>
                                        Based on ' <span itemprop="reviewCount" class="cinema"> {{ entity['opNum'] }} </span> opinions'
                                    </div>
                                    <meta itemprop="worstRating" content = "-5">
                                    <meta itemprop="bestRating" content = "5">
                                </div>
                            </h1>
                        </div>
                        <div class="ui stackable column grid">
                            <div class="twelve wide column" style="text-indent: 20px;">
                                <div itemprop="description" class="description">
                                    {{ entity['desc'] }}
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="extra">
                            <div style="width: 260px;float: right;">
                              <div class="ui divided list">
                                {% for aff in entity['affil'] %}
                                  <a class="item" href="{{ aff['link'] }}">
                                   <div class="content">
                                        {{ aff['name'] }}     <b>${{ aff['price'] }}</b>
                                        <div class="ui right floated teal label">
                                           Buy
                                          <i class="shop icon"></i>
                                        </div>
                                   </div>
                                </a>
                                {% endfor %}

                            </div>
                          </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="five wide column">
                    {% for img in entity['img'] %}
                        {% if loop.index == 1 %}
                            <div class="ui medium rounded image">
                                <img src="{{ img }}">
                            </div>
                        <br/><br/>
                        {% endif %}

                    <div class="ui tiny images left floated">
                       <img class="ui image" src="{{ img }}">
                    </div>
                    {% endfor %}

                </div>
                <div class="five wide column">
                  <h5 class="ui header">Good Vibe</h5>
                  <div class="ui accordion">
                      {% for pos in entity['pos'] %}
                        <div class="title">
                          <i class="dropdown icon"></i>
                             {{ pos['feature'] }}
                          <i class="green inverted smile icon"></i><i class="green smile icon"></i><i class="green smile icon"></i>
                      </div>
                      <div class="content">
                          <ul>
                              <li>[...] and it doesn't have a big apps selection hsldj dkhfd kshdsc,,khkhs kshdsdiowu sjdskh [...]
                                  <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                              <li>[...] and it doesn't have a big apps selection [..]
                              <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                              <li>[...] and it doesn't have a big apps selection. And some more stuff go here.
                              <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                              <li>[...] and it doesn't have a big apps selection
                              <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                              <li>[...] and it doesn't have a big apps selection
                              <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                              <li>[...] and it doesn't have a big apps selection
                              <span style="font-size: 11px; font-style: italic;">(Source: amazon.com)</span>
                              </li>
                          </ul>
                      </div>
                      {% endfor %}


                  </div>

                  <h5>Sources:</h5>
                  <div class="ui link list">
                      {% for src in entity['sources'].keys() %}
                        <div class="item">
                          {{ src }} ( {{ entity['sources'][src] }} opinions)
                        </div>
                      {% endfor %}

                  </div>
                </div>
                <div class="five wide column">
                    <h5 class="ui header">Bad Vibe</h5>
                    <div class="ui accordion">
                        {% for neg in entity['neg'] %}
                            <div class="title">
                          <i class="dropdown icon"></i>
                            {{ neg['feature'] }}
                          <i class="red frown smile icon"></i><i class="red frown icon"></i><i class="red frown icon"></i>
                      </div>
                        <div class="content">
                          <ul>
                              <li>[...] and it doesn't have a big apps selection hsldj dkhfd kshdsc,,khkhs kshdsdiowu sjdskh.</li>
                              <li>[...] and it doesn't have a big apps selection</li>
                              <li>[...] and it doesn't have a big apps selection. And some more stuff go here.</li>
                              <li>[...] and it doesn't have a big apps selection</li>
                              <li>[...] and it doesn't have a big apps selection</li>
                              <li>[...] and it doesn't have a big apps selection</li>
                          </ul>
                      </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
            <!--<div class="row">
                <div class="column">
                     <div class="ui leaderboard test ad" data-text="Ads"></div>
                </div>
            </div>-->
        </div>
        <div class="ui six column grid raised segment stackable">
            {% for rel in related %}
                <a href="{{ rel['link'] }}" class="column">
                                <div class="ui card">
                                  <div class="image">
                                <img src="{{ rel['image'] }}">
                                  </div>
                                  <div class="content">
                                    <div class="header">{{ rel['name'] }}
                                        <div class="ui green label circular score">{{ rel['score'] }}</div>
                                        <div class="ui flowing popup top left transition" style="top: auto; bottom: 99.4375px; left: 574.703125px; right: auto;">
                                          <p>CriticJam Score: -5 to 5 Scale</p>
                                           Based on <span class="cinema">'{{ rel['oNum'] }} opinions'</span>
                                        </div>
                                    </div>

                                  </div>
                                </div>
                </a>
            {% endfor%}
        </div>
    </div>

{% endblock %}

{% block rightSideContent %}

    <div class="four wide column" id="rightPanel">
        <div class="ui list">
            {% for cont in sideContent %}
                <a class="item title" href='{{ cont["link"] }}'>{{ cont['title'] }}</a>
                <!--{% if loop.index == 6 %}
                    <div class="ui medium rectangle test ad"></div>
                {% endif %}-->
            {% endfor %}

       </div>
    </div>

{% endblock %}


