{% extends "main.html" %}

        {% block mainContent %}
            <div class="errorImg" style="display:table; margin: 0 auto;">
                <img src="../../static/img/errorImg.png" >
                <div>
                    <p style="text-align:center;"><a href="http://criticjam.com">Go Home</a></p>
                </div>
            </div>
        {% endblock %}

<!--<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Not Found</title>
    <meta name="description" content="Error Page: Page Not Found">
    <link rel="shortcut icon" href="http://app.qz.com/img/icons/favicon.ico"/>
</head>
<body>

<div class="errorImg" style="display:table; margin: 0 auto;">
    <img src="../../static/img/errorImg.png" >
    <div>
        <p style="text-align:center;"><a href="http://criticjam.com">Go Home</a></p>
    </div>
</div>

</body>
</html>-->