{% extends "main.html" %}
{% block mainContent %}
<div class="twelve wide column" id="mainContent">
{% if isSearch == True %}
<div>Results for <b><i>{{ query }}</i></b></div>
{% endif %}
<div itemtype="http://schema.org/ItemList" class="ui items marginContent">
<meta itemprop="numberOfItems" content="25">
{% for entity in entities: %}
<div itemprop="itemListElement" itemscope itemtype="http://schema.org/Product" class="ui raised segment item itemBgColor">
<div class="image">
{% if 'mainImg' in entity %}
<img iteprop="image" class="homeImgSizing" src="{{ entity['mainImg'] }}" alt='{{ entity["name"] }}'>
{% else %}
<img class="homeImgSizing" itemprop="image" src="../static/img/sampleimg.png" alt='{{ entity["name"] }}'>
{% endif %}
</div>
<div class="content">
<meta itemprop="brand" content="{{ entity['brand'] }}">
<meta itemprop="category" content="{{ entity['category'] }}">
<a class="header">
{% if 'title' in entity %}
<h3 itemprop="name" style="margin-top:0;margin-bottom:0">
{{ entity["title"] }}
</h3>
{% else %}
<h3 itemprop="name" style="margin-top:0;margin-bottom:0">
{{ entity["name"] }}
</h3>
{% endif %}
</a>
{% if entity["score"] > 0 %}
<div itemprop="ratingValue" class="ui green label circular score">{{ entity["score"] }}</div>
{% else %}
<div itemprop="ratingValue" class="ui red label circular score">{{ entity["score"] }}</div>
{% endif %}
<div class="meta">
{% if 'title' in entity %}
<h5 itemprop="alternateName" class="cinema" style="margin-top:0;margin-bottom:0">
{{ entity["name"] }}
</h5>
{% endif %}
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="ui flowing popup">
<p><span itemprop="ratingValue">{{ entity["score"] }} </span> CriticJam Score based on '<span itemprop="reviewCount" class="cinema">{{ entity["opNum"] }} </span> opinions'.</p>
<meta itemprop="worstRating" content="-5">
<meta itemprop="bestRating" content="5">
<p>On a -5 to 5 Scale</p>
</div>
</div>
<div itemprop="description" class="description">
<div class="ui grid">
<div class="two column row">
<div class="column">
<h5 class="ui header">Good Reviews</h5>
<div class="list">
{% for pos in entity["top2Pos"] %}
<div class="item">
<div>
{{ pos["feature"] }}
{% if pos['score'] >= 2.4 %}
<i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="green inverted smile icon"></i>
{% elif pos['score'] >= 1.4 %}
<i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="smile icon inactiveIcon"></i>
{% else %}
<i class="green inverted smile icon"></i><i class="smile icon inactiveIcon"></i><i class="smile icon inactiveIcon"></i>
{% endif %}
</div>
</div>
{% endfor %}
</div>
</div>
<div class="column">
<h5 class="ui header">Bad Reviews</h5>
<div class="list">
{% for neg in entity["top2Neg"] %}
<div class="item">
<div>
{{ neg["feature"] }}
{% if neg['score'] <=-2.4 %} <i class="red frown icon"></i><i class="red frown icon"></i><i class="red frown icon"></i>
{% elif neg['score'] <=-1.4 %} <i class="red frown icon"></i><i class="red frown icon"></i><i class="frown icon inactiveIcon"></i>
{% else %}
<i class="red frown icon"></i><i class="frown icon inactiveIcon"></i><i class="frown icon inactiveIcon"></i>
{% endif %}
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
<div class="ui st al label right floated moreBtn">More <i class="right chevron icon"></i> </div>
</div>
</div>
<a itemprop="url" href="{{ entity['link'] }}">
<span class="link-spanner"></span>
</a>
</div>
{% if loop.index == 1 %}
<div class="ui grid adDiv">
<div class="twelve column center computer only">
<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ibihuhacom-20&o=1&p=48&l=ur1&category=echo&banner=0W6KC2S8GN6EM1VPG002&f=ifr&linkID=QS6QY5XP44XSDWHB" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
<div class="twelve column mobile only">
<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ibihuhacom-20&o=1&p=288&l=ur1&category=echo&banner=1N8HTXYBZR5601PQ4R02&f=ifr&linkID=UDOJJ36TQRV3SWIB" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
<div class="twelve column tablet only">
<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ibihuhacom-20&o=1&p=26&l=ur1&category=echo&banner=0PT9MRSRBA7EWW462H02&f=ifr&linkID=3HMF6RWX5F6DN37K" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
</div>
{% endif %}
{% endfor %}
</div>
<div class="pagination">
{% if pages == 1 and currentPage == 1%}
<a class="ui button active"><<</a>
{% else %}
<a href="{{ url }}&pg={{ currentPage-1 }}" class="ui button"><<</a>
{% endif %}
{% for i in range(1, (pages+1)) %}
{% if i == currentPage %}
<a class="ui button active">{{ i }}</a>
{% else %}
<a href="{{ url }}&pg={{ i }}" class="ui button">{{ i }}</a>
{% endif %}
{% endfor %}
{% if morePages %}
<a href="{{ url }}&pg={{ pages+1 }}" class="ui button">{{ pages+1 }}</a>
<a href="{{ url }}&pg={{ pages+1 }}" class="ui button">>></a>
{% else %}
<a class="ui button active">>></a>
{% endif %}
</div>
</div>
{% endblock %}
{% block rightSideContent %}
<div class="four wide column">
<div class="ui raised segment rightContent" id="rightPanel">
<div class="ui list">
{% for cont in sideContent %}
<a class="item title sideContent" href='{{ cont["link"] }}'>{{ cont['title'] }}</a>
{% if loop.index == 13 %}
<div class="adDiv">
<div>
<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ibihuhacom-20&o=1&p=12&l=ur1&category=mostwishforitem&banner=0J7787TC6F91PCMX3882&f=ifr&linkID=DBEBXQ2QMQGNQSSB" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}