<!DOCTYPE html>
<html prefix="g: http://ogp.me/ns#">
<head lang=en itemscope itemtype=http://schema.org/WebPage>
<meta charset=UTF-8>
{% block head %}
<meta name=description content="{{ contentDescription }}">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>{{ title }} </title>
<meta property=og:locale content=en_US>
<meta itemprop=keywords name=keywords content="{{ keywords }}">
<meta name=author content=CriticJam>
<meta property=og:site_name content=CriticJam.com>
<meta property=og:title content="{{ title }}">
<meta property=og:description content="{{ contentDescription }}">
<meta property=og:site_name content=CriticJam>
<meta name=twitter:description content="{{ contentDescription }}" data-ephemeral=true>
<meta name=twitter:title content="{{ title }}" data-ephemeral=true>
{% if isEntityPage %}
<meta property=og:image content="{{ entity['mainImg'] }}">
<meta name=twitter:image content="{{ entity['mainImg'] }}" data-ephemeral=true>
<meta property=og:url content="http://criticjam.com{{ entity['link'] }}">
<meta name=twitter:url content="http://criticjam.com{{ entity['link'] }}" data-ephemeral=true>
<meta name=date content="{{ entity['date'] }}" data-ephemeral=true>
<meta itemprop=dateModified content="{{ entity['date'] }}">
<meta property=og:updated_time content="{{ entity['date'] }}">
<meta property=og:type content=article>
<meta property=article:publisher content=http://www.CriticJam.com>
<meta property=article:tag content=Reviews>
<meta property=article:tag content=Opinions>
<meta property=article:tag content="{{ entity['name'] }}">
<meta property=article:tag content="{{ keywords }}">
<meta property=article:published_time content="{{ entity['date'] }}">
<meta property=article:modified_time content="{{ entity['date'] }}">
{% else %}
<meta property=og:url content="{{ url }}">
{% endif %}
<meta property=og:type content=website>
<meta name=twitter:card content=summary data-ephemeral=true>
<meta name=twitter:site content=@criticjam>
<meta name=twitter:creator content=@criticjam>
<meta itemprop=inLanguage content=en-US>
<meta itemprop=sourceOrganization content=CriticJam>
<link rel=alternate href=http://criticjam.com hreflang=en />
<link rel=stylesheet href=../../../static/css/css.css>
<link rel="shortcut icon" href="../../../static/images/favicon.ico"/>
{% endblock %}
</head>
<body itemscope itemtype=http://schema.org/WebPage>
<div class="ui left vertical inverted labeled icon sidebar menu">
<a class=item href=/reviews/phones>
<i class="large mobile icon link"></i>
Phones
</a>
<a class=item href=/reviews/tablets>
<i class="large tablet icon link"></i>
Tablets
</a>
<a class=item href=/reviews/laptops>
<i class="large laptop icon link"></i>
Laptops
</a>
<a class=item href=/reviews/cameras>
<i class="large camera retro icon link"></i>
Cameras
</a>
<a class=item href=/reviews/desktop-computers>
<i class="large desktop icon link"></i>
Desktops
</a>
<a class=item href=/reviews/headphones>
<i class="large sound icon link"></i>
Headphones
</a>
<a class=item href=/reviews/tvs>
<i class="large desktop icon link"></i>
TVs
</a>
<a class=item href=/reviews/ereaders>
<i class="large tablet icon link"></i>
Tablets
</a>
<a class=item href=/reviews/smartwatches>
<i class="large wait icon link"></i>
Smartwatches
</a>
<a class=item href=/reviews/external-hard-drives>
<i class="large disk outline icon link"></i>
Hard Drives
</a>
<a class=item href=/reviews/fitness-trackers>
<i class="large crosshairs icon link"></i>
Fitness Trackers
</a>
<a class=item href=/reviews/tv-streaming-sticks>
<i class="large spotify icon link"></i>
Streamers
</a>
<a class=item href=http://facebook.com/criticjam target=_blank>
<i class="large facebook icon link"></i>
Like
</a>
<a class=item href=http://twitter.com/CriticJam target=_blank>
<i class="large twitter icon link"></i>
Follow
</a>
</div>
<div class=pusher>
<div class="main container">
<div class="ui grid stackable">
<div class="row ui raised segment" id=header>
<div class=column>
<div class="ui list">
<a class=item id=showSidebar>
<i class="big content icon"></i>
</a>
</div>
</div>
<a href=/ class="two wide column center aligned" id=logo>
<h1 class="ui header" style="font-family:Antic Didone;margin-bottom:0">CriticJam</h1>
<span style=font-size:12px;color:#888>Simple Reviews Summary</span>
</a>
<div class="eight wide column center aligned" id=search>
<div class="ui action input fluid">
<div class="ui floating labeled icon dropdown button">
<i class="filter icon"></i>
<span class=text>All</span>
<div class=menu>
<div class=item>
All
</div>
<div class=item>
<i class="mobile icon"></i>
Phones
</div>
<div class=item>
<i class="tablet icon"></i>
Tablets
</div>
<div class=item>
<i class="laptop icon"></i>
Laptops
</div>
<div class=item>
<i class="desktop icon"></i>
Desktops
</div>
<div class=item>
<i class="camera retro icon"></i>
Cameras
</div>
<div class=item>
<i class="building icon"></i>
TVs
</div>
<div class=item>
<i class="food icon"></i>
Headphones
</div>
<div class=item>
<i class="game icon"></i>
Smartwatches
</div>
<div class=item>
<i class="spotify icon"></i>
Streamers
</div>
<div class=item>
<i class="disk outline icon"></i>
Hard Drives
</div>
<div class=item>
<i class="tablet icon"></i>
eReaders
</div>
<div class=item>
<i class="crosshairs icon"></i>
Fitness Trackers
</div>
</div>
</div>
<form name=search action=/reviews method=GET>
<input name=q type=text id=q value placeholder="Search eg. Smartphone with the Best Design, Top 5 Laptops Under $300">
<input name=cat type=hidden id=cat value=All>
</form>
<div class="ui icon button" id=submit><i class="search icon"></i></div>
</div>
</div>
</div>
</div>
<div class="ui grid stackable">
<div class=row>
{% block mainContent %}
{% endblock %}
{% block rightSideContent %}
{% endblock %}
</div>
</div>
<div class="ui grid stackable">
<div class="ui clearing divider"></div>
<div class="one column row" id=footer>
<div class="column ui header aligned center">
CriticJam 2016
</div>
</div>
</div>
</div>
</div>
<script type=text/javascript src=../../../static/js/jquery.js></script>
<script type=text/javascript src=../../../static/js/semantic.min.js></script>
<script type=text/javascript>$(function(){$("#showSidebar").click(function(){$(".left.sidebar").sidebar("toggle")});$(".ui.dropdown").dropdown();$(".ui.rating").rating("disable");$(".ui.sticky").sticky({context:".main"});$(".score").popup({inline:true});$(".help").popup({inline:true});$(".ui.accordion").accordion("refresh")});</script>
<script type=text/javascript>$(function(){$(".menu .item").click(function(b){var a=$(this).text();$("#cat").val(a)});$("form").submit(function(b){var a=$("#q").val().length;if(a==0||a==1){b.preventDefault()}});$("#submit").click(function(){$("form").submit()});$(".images").mouseover(function(){$(".images").removeClass("thumbnailFocus");$(this).addClass("thumbnailFocus");var a=$(this).find("img");$(".mainImgSizing").attr("src",$(a).attr("src"))})});</script>
<script>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-67146902-1","auto");ga("send","pageview");</script>
</body>
</html>