
<!DOCTYPE html>
<html prefix="g: http://ogp.me/ns#">
<head lang=en itemscope itemtype=http://schema.org/WebPage>
<meta charset=UTF-8>

<meta name=description content="{{ description }}">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta property=og:locale content=en_US>
<meta itemprop=keywords name=keywords content="{{ keywords }}">
<meta name=author content=CriticJam>
<meta property=og:site_name content=CriticJam.com>
<meta property=og:title content="{{ title }}">
<meta property=og:description content="{{ description }}">
<meta property=og:site_name content=CriticJam>
<meta name=twitter:description content="{{ description }}" data-ephemeral=true>
<meta name=twitter:title content="{{ title }}" data-ephemeral=true>

<!--<meta property=og:image content="http://ecx.images-amazon.com/images/I/41ksIEly8SL.jpg">-->
<!--<meta name=twitter:image content="http://ecx.images-amazon.com/images/I/41ksIEly8SL.jpg" data-ephemeral=true>-->
<meta property=og:url content="{{ url }}">
<meta name=twitter:url content="{{ url }}" data-ephemeral=true>
<meta name=date content="{{ date }}" data-ephemeral=true>
<meta itemprop=dateModified content="{{ date }}">
<meta property=og:updated_time content="{{ date }}">
<meta property=og:type content=article>
<meta property=article:publisher content=http://www.CriticJam.com>
<meta property=article:tag content=Reviews>
<meta property=article:tag content=Opinions>
<meta property=article:tag content="{{ keywords }}">
<meta property=article:published_time content="{{ date }}">
<meta property=article:modified_time content="{{ date }}">

<meta property=og:type content=website>
<meta name=twitter:card content=summary data-ephemeral=true>
<meta name=twitter:site content=@criticjam>
<meta name=twitter:creator content=@criticjam>
<meta itemprop=inLanguage content=en-US>
<meta itemprop=sourceOrganization content=CriticJam>
<link rel=alternate href=http://criticjam.com hreflang=en />
<link rel=stylesheet href=../../../static/css/css.css>
<link rel=stylesheet href=../../../static/css/main.css>
<link rel="shortcut icon" href="../../../static/images/favicon.ico"/>

</head>
<body itemscope itemtype=http://schema.org/WebPage>
<div class="ui left vertical inverted labeled icon sidebar menu">
<a class=item href=/reviews/phones>
<i class="large mobile icon link"></i>
Phones
</a>
<a class=item href=/reviews/tablets>
<i class="large tablet icon link"></i>
Tablets
</a>
<a class=item href=/reviews/laptops>
<i class="large laptop icon link"></i>
Laptops
</a>
<a class=item href=/reviews/cameras>
<i class="large camera retro icon link"></i>
Cameras
</a>
<a class=item href=/reviews/desktop-computers>
<i class="large desktop icon link"></i>
Desktops
</a>
<a class=item href=/reviews/headphones>
<i class="large sound icon link"></i>
Headphones
</a>
<a class=item href=/reviews/tvs>
<i class="large desktop icon link"></i>
TVs
</a>
<a class=item href=/reviews/ereaders>
<i class="large tablet icon link"></i>
Tablets
</a>
<a class=item href=/reviews/smartwatches>
<i class="large wait icon link"></i>
Smartwatches
</a>
<a class=item href=/reviews/external-hard-drives>
<i class="large disk outline icon link"></i>
Hard Drives
</a>
<a class=item href=/reviews/fitness-trackers>
<i class="large crosshairs icon link"></i>
Fitness Trackers
</a>
<a class=item href=/reviews/tv-streaming-sticks>
<i class="large spotify icon link"></i>
Streamers
</a>
<a class=item href=http://facebook.com/criticjam target=_blank>
<i class="large facebook icon link"></i>
Like
</a>
<a class=item href=http://twitter.com/CriticJam target=_blank>
<i class="large twitter icon link"></i>
Follow
</a>
</div>
<div class=pusher>
<div class="main container">
<div class="ui grid stackable">
<div class="row ui raised segment" id=header>
<div class=column>
<div class="ui list">
<a class=item id=showSidebar>
<i class="big content icon"></i>
</a>
</div>
</div>
<a href=/ class="two wide column center aligned" id=logo>
<h1 class="ui header" style="font-family:Antic Didone;margin-bottom:0">CriticJam</h1>
<span style=font-size:12px;color:#888>Simple Reviews Summary</span>
</a>
<div class="eight wide column center aligned" id=search>
<div class="ui action input fluid">
<div class="ui floating labeled icon dropdown button">
<i class="filter icon"></i>
<span class=text>All</span>
<div class=menu>
<div class=item>
All
</div>
<div class=item>
<i class="mobile icon"></i>
Phones
</div>
<div class=item>
<i class="tablet icon"></i>
Tablets
</div>
<div class=item>
<i class="laptop icon"></i>
Laptops
</div>
<div class=item>
<i class="desktop icon"></i>
Desktops
</div>
<div class=item>
<i class="camera retro icon"></i>
Cameras
</div>
<div class=item>
<i class="building icon"></i>
TVs
</div>
<div class=item>
<i class="food icon"></i>
Headphones
</div>
<div class=item>
<i class="game icon"></i>
Smartwatches
</div>
<div class=item>
<i class="spotify icon"></i>
Streamers
</div>
<div class=item>
<i class="disk outline icon"></i>
Hard Drives
</div>
<div class=item>
<i class="tablet icon"></i>
eReaders
</div>
<div class=item>
<i class="crosshairs icon"></i>
Fitness Trackers
</div>
</div>
</div>
<form name=search action=/reviews method=GET>
<input name=q type=text id=q value placeholder="Search eg. Smartphone with the Best Design, Top 5 Laptops Under $300">
<input name=cat type=hidden id=cat value=All>
</form>
<div class="ui icon button" id=submit><i class="search icon"></i></div>
</div>
</div>
</div>
</div>
<div class="ui grid stackable">
<div class=row>

<div class="four wide column computer only">

<div class="ui sticky raised segment leftContent" id="rightPanel">

    <div class="ui list">

    {% for entity in entities: %}

        <a class="item title sideContent" href='#{{ loop.index }}'>{{ entity['name'] }}</a>

        <div class="ui clearing divider"></div>

    {% endfor %}

    </div>

</div>

</div>

<div class="twelve wide column" id="mainContent">

    <div class="ui raised segment marginMainContent">
        <h1 class="staticPageTitle">
            Change this to whatever the title is..
        </h1>
    </div>

    <div  itemtype="http://schema.org/ItemList">

    {% for entity in entities: %}

        <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product" id="{{ loop.index }}" class="ui grid raised segment marginMainContent">
            <div class="row">
                <div class="column">
                    <div class="content">
                        <div class="ui center aligned header">
                            <h1>
                                {% if 'title' in entity %}
                                <span>{{ entity['title'] }}</span><br>
                                <span itemprop="name" class="itemSubTitle">{{ entity['name'] }}</span>
                                {% else %}
                                <span itemprop="name">{{ entity['name'] }}</span>
                                {% endif %}

                                <meta itemprop="brand" content="{{ entity['brand'] }}">
                                <meta itemprop="category" content="{{ entity['category'] }}">
                                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                    {% if entity['score'] > 0 %}
                                    <div itemprop="ratingValue" class="ui green label circular score">{{ entity['score'] }}</div>
                                    {% else %}
                                    <div itemprop="ratingValue" class="ui red label circular score">{{ entity['score'] }}</div>
                                    {% endif %}
                                    <div class="ui flowing popup">
                                        <p>CriticJam Score: -5 to 5 Scale</p>
                                        Based on ' <span itemprop="reviewCount" class="cinema"> {{ entity['opNum'] }} </span> opinions'
                                    </div>
                                    <meta itemprop="worstRating" content = "-5">
                                    <meta itemprop="bestRating" content = "5">
                                </span>
                            </h1>
                        </div>
                        <div class="ui stackable column grid">
                            <div class="twelve wide column" style="text-indent: 20px;">
                                <div itemprop="description" class="description itemDesc">
                                    {{ entity['desc']|safe }}
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="extra">
                            <div>
                              <div class="ui divided list">
                                {% for aff in entity['affil'] %}
                                  <a class="item" target="_blank" href="{{ aff['link'] }}">
                                   <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content">
                                       <div class="priceLabel ui label">
                                           {{ aff['name'] }}    from

                                           {% if aff['price'] > 0: %}
                                                <b itemprop="price">${{ aff['price'] }}</b>
                                           {% else %}
                                                <b itemprop="price">${{ entity['price'] }}</b>
                                           {% endif %}

                                       </div>
                                        <div class="ui right yellow label">
                                           <span class="price">Buy Now</span>
                                          <i class="shop icon"></i>
                                        </div>
                                   </div>
                                </a>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ui fifteen column grid stackable">
                    <div class="five wide column">
                    <a href="{{ entity['detailsLink'] }}" target="_blank" class="ui medium rounded image">
                                <img itemprop="image" class="mainImgSizing" src="{{ entity['mainImg'] }}" alt="{{ entity['name'] }}">
                    </a>

                </div>
                <div class="five wide column">
                  <h5 class="ui header">
                      Good Reviews
                      <span>
                          <i class="help circle icon"></i>
                          <span class="ui flowing popup top left transition" style="top: auto; bottom: 99.4375px; left: 574.703125px; right: auto;">
                            <p>Things people like the most.</p>
                          </span>
                      </span>
                  </h5>

                  <div class="ui accordion">
                      {% for feat in entity['pos'] %}
                        <div class="title">
                          <i class="dropdown icon"></i>

                            {{ feat['name'] }}

                            {% if feat['score'] >= 2.4 %}
                               <i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="green inverted smile icon"></i>
                            {% elif feat['score'] >= 1.4 %}
                               <i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="smile icon "></i>
                            {% else %}
                               <i class="green inverted smile icon"></i><i class="smile icon"></i><i class="smile icon"></i>
                            {% endif %}

                      </div>
                      <div class="content">
                          <ul>
                              {% for rev in feat['pos'] %}
                               <li itemprop="review" itemscope itemtype="http://schema.org/Review">
                                    <q itemprop="reviewBody">{{ rev['text'] }}</q>
                                    <span class="sourceText">(Source: {{ rev['source'] }} by </span>
                                    <span itemprop="author" class="sourceText"> {{ rev['author'] }}</span>
                                    <span class="sourceText">)</span>
                                </li>
                              {% endfor %}

                          </ul>
                      </div>
                      {% endfor %}


                  </div>

                  <h5><a href="{{ entity['link'] }}">More..</a></h5>

                </div>
                <div class="five wide column">
                    <h5 class="ui header">
                        Bad Reviews
                        <span>
                            <i class="help circle icon"></i>
                            <span class="ui flowing popup top left transition" style="top: auto; bottom: 99.4375px; left: 574.703125px; right: auto;">
                                <p>Things people dislike the most.</p>
                            </span>
                        </span>
                    </h5>

                    <div class="ui accordion">
                        {% for feat in entity['neg'] %}
                            <div class="title">
                          <i class="dropdown icon"></i>

                            {{ feat['name'] }}

                            {% if feat['score'] <= -2.4 %}
                                <i class="red frown icon"></i><i class="red frown icon"></i><i class="red frown icon"></i>
                            {% elif feat['score'] <= -1.4 %}
                                <i class="red frown icon"></i><i class="red frown icon"></i><i class="frown icon inactiveIcon"></i>
                            {% else %}
                                <i class="red frown icon"></i><i class="frown icon inactiveIcon"></i><i class="frown icon inactiveIcon"></i>
                            {% endif %}
                      </div>
                        <div class="content">
                          <ul>
                              {% for rev in feat['neg'] %}
                                <li itemprop="review" itemscope itemtype="http://schema.org/Review">
                                    <q itemprop="reviewBody">{{ rev['text'] }}</q>
                                    <span class="sourceText">(Source: {{ rev['source'] }} by </span>
                                    <span itemprop="author" class="sourceText"> {{ rev['author'] }}</span>
                                    <span class="sourceText">)</span>
                                </li>
                              {% endfor %}
                          </ul>
                      </div>
                        {% endfor %}

                    </div>
                </div>
                </div>

            </div>

        </div>

    {% endfor %}

    </div>

</div>


</div>
</div>
<div class="ui grid stackable">
<div class="ui clearing divider"></div>
<div class="one column row" id=footer>
<div class="column ui header aligned center">
CriticJam 2015
</div>
</div>
</div>
</div>
</div>
<script type=text/javascript src=../../../static/js/jquery.js></script>
<script type=text/javascript src=../../../static/js/semantic.min.js></script>
<script type="text/javascript">
    $('.ui.sticky')
          .sticky({
            context: '#mainContent'
          });
    $(function(){
        $('a.sideContent').click(function(){
            $('a.sideContent').removeClass('clicked')
            $(this).addClass('clicked')
        })
    })
</script>
<script type=text/javascript>$(function(){$("#showSidebar").click(function(){$(".left.sidebar").sidebar("toggle")});$(".ui.dropdown").dropdown();$(".ui.rating").rating("disable");$(".ui.sticky").sticky({context:".main"});$(".score").popup({inline:true});$(".help").popup({inline:true});$(".ui.accordion").accordion("refresh")});</script>
<script type=text/javascript>$(function(){$(".menu .item").click(function(b){var a=$(this).text();$("#cat").val(a)});$("form").submit(function(b){var a=$("#q").val().length;if(a==0||a==1){b.preventDefault()}});$("#submit").click(function(){$("form").submit()});$(".images").mouseover(function(){$(".images").removeClass("thumbnailFocus");$(this).addClass("thumbnailFocus");var a=$(this).find("img");$(".mainImgSizing").attr("src",$(a).attr("src"))})});</script>
<script>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-67146902-1","auto");ga("send","pageview");</script>
</body>
</html>