{% extends "main.html" %}
{% block mainContent %}
<div class="twelve wide column" id="mainContent">
<div itemscope itemtype="http://schema.org/Product" class="ui grid raised segment marginContentDetails">
<div class="row">
<div class="column">
<div class="content">
<div class="ui center aligned header">
<h1>
{% if 'title' in entity %}
<span>{{ entity['title'] }}</span><br>
<span itemprop="name" class="itemSubTitle">{{ entity['name'] }}</span>
{% else %}
<span itemprop="name">{{ entity['name'] }}</span>
{% endif %}
<meta itemprop="brand" content="{{ entity['brand'] }}">
<meta itemprop="category" content="{{ entity['category'] }}">
<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
{% if entity['score'] > 0 %}
<div itemprop="ratingValue" class="ui green label circular score">{{ entity['score'] }}</div>
{% else %}
<div itemprop="ratingValue" class="ui red label circular score">{{ entity['score'] }}</div>
{% endif %}
<div class="ui flowing popup">
<p>CriticJam Score: -5 to 5 Scale</p>
Based on ' <span itemprop="reviewCount" class="cinema"> {{ entity['opNum'] }} </span> opinions'
</div>
<meta itemprop="worstRating" content="-5">
<meta itemprop="bestRating" content="5">
</span>
</h1>
</div>
<div class="ui stackable column grid">
<div class="twelve wide column" style="text-indent:20px">
<div itemprop="description" class="description itemDesc">
{{ entity['desc']|safe }}
</div>
</div>
<div class="four wide column">
<div class="extra">
<div>
<div class="ui divided list">
{% for aff in entity['affil'] %}
<a class="item" target="_blank" href="{{ aff['link'] }}">
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content">
<div class="priceLabel ui label">
{{ aff['name'] }} from
{% if aff['price'] > 0: %}
<b itemprop="price">${{ aff['price'] }}</b>
{% else %}
<b itemprop="price">${{ entity['price'] }}</b>
{% endif %}
</div>
<div class="ui right yellow label">
<span class="price">Buy Now</span>
<i class="shop icon"></i>
</div>
</div>
</a>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="ui fifteen column grid stackable">
<div class="five wide column">
<a href="{{ entity['detailsLink'] }}" target="_blank" class="ui medium rounded image">
<img itemprop="image" class="mainImgSizing" src="{{ entity['mainImg'] }}" alt="{{ entity['name'] }}">
</a>
</div>
<div class="five wide column">
<h5 class="ui header">
Good Reviews
<span>
<i class="help circle icon"></i>
<span class="ui flowing popup top left transition" style="top:auto;bottom:99.4375px;left:574.703125px;right:auto">
<p>Things people like the most.</p>
</span>
</span>
</h5>
<div class="ui accordion">
{% for feat in entity['pos'] %}
<div class="title">
<i class="dropdown icon"></i>
{{ feat['name'] }}
{% if feat['score'] >= 2.4 %}
<i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="green inverted smile icon"></i>
{% elif feat['score'] >= 1.4 %}
<i class="green inverted smile icon"></i><i class="green inverted smile icon"></i><i class="smile icon"></i>
{% else %}
<i class="green inverted smile icon"></i><i class="smile icon"></i><i class="smile icon"></i>
{% endif %}
</div>
<div class="content">
<ul>
{% for rev in feat['pos'] %}
<li itemprop="review" itemscope itemtype="http://schema.org/Review">
<q itemprop="reviewBody">{{ rev['text'] }}</q>
<span class="sourceText">(Source: {{ rev['source'] }} by </span>
<span itemprop="author" class="sourceText"> {{ rev['author'] }}</span>
<span class="sourceText">)</span>
</li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
<h5>Sources:</h5>
<div class="ui link list">
{% for src in entity['sources'].keys() %}
<div class="item">
{{ src }} ( {{ entity['sources'][src] }} opinions)
</div>
{% endfor %}
</div>
</div>
<div class="five wide column">
<h5 class="ui header">
Bad Reviews
<span>
<i class="help circle icon"></i>
<span class="ui flowing popup top left transition" style="top:auto;bottom:99.4375px;left:574.703125px;right:auto">
<p>Things people dislike the most.</p>
</span>
</span>
</h5>
<div class="ui accordion">
{% for feat in entity['neg'] %}
<div class="title">
<i class="dropdown icon"></i>
{{ feat['name'] }}
{% if feat['score'] <=-2.4 %} <i class="red frown icon"></i><i class="red frown icon"></i><i class="red frown icon"></i>
{% elif feat['score'] <=-1.4 %} <i class="red frown icon"></i><i class="red frown icon"></i><i class="frown icon inactiveIcon"></i>
{% else %}
<i class="red frown icon"></i><i class="frown icon inactiveIcon"></i><i class="frown icon inactiveIcon"></i>
{% endif %}
</div>
<div class="content">
<ul>
{% for rev in feat['neg'] %}
<li itemprop="review" itemscope itemtype="http://schema.org/Review">
<q itemprop="reviewBody">{{ rev['text'] }}</q>
<span class="sourceText">(Source: {{ rev['source'] }} by </span>
<span itemprop="author" class="sourceText"> {{ rev['author'] }}</span>
<span class="sourceText">)</span>
</li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
<div class="ui six column grid raised segment stackable">
{% for rel in related %}
<a href="{{ rel['link'] }}" class="column">
<div class="ui card">
<div class="image">
{% if 'mainImg' in rel %}
<img class="relImgSizing" src="{{ rel['mainImg'] }}" alt="{{ rel['name'] }}">
{% else %}
<img class="relImgSizing" src="../../static/img/sampleimg.png" alt="{{ rel['name'] }}">
{% endif %}
</div>
<div class="content">
<div class="header relFont">{{ rel['relDispName'] }}
<div class="ui green label circular score relFontScore">{{ rel['score'] }}</div>
<div class="ui flowing popup top left transition" style="top:auto;bottom:99.4375px;left:574.703125px;right:auto">
<p>CriticJam Score: -5 to 5 Scale</p>
Based on <span class="cinema">'{{ rel['oNum'] }} opinions'</span>
</div>
</div>
</div>
</div>
</a>
{% endfor%}
</div>
</div>
{% endblock %}
{% block rightSideContent %}
<div class="four wide column">
<div class="ui raised segment rightContent" id="rightPanel">
<div class="ui list">
{% for cont in sideContent %}
{% if cont['title'] %}
<a class="item title sideContent" href='{{ cont["link"] }}'>{{ cont['title'] }}</a>
{% else %}
<a class="item title sideContent" href='{{ cont["link"] }}'>{{ cont['name'] }}</a>
{% endif %}
{% if loop.index == 2 %}
<div>
<iframe src="{{ ad1Src }}" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
{% endif %}
{% endfor %}
</div>
<div>
<iframe src="{{ ad2Src }}" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none" frameborder="0"></iframe>
</div>
</div>
</div>
{% endblock %}